

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


Styling starts here

  
header {
	width: 960px;
	display:block;
	}

h1 {  
  	text-align:center;
  	padding:20px;
  	}

body {
	margin: 0 auto;
	width:960px;
	}
	
nav#main-nav {
	position:absolute;
	border-top:solid;
	border-top-width:4px;
	border-bottom:solid;
	border-bottom-width:4px;
	width:960px;
	text-align:center;
	}
	
	nav ul {
	margin:0 auto;
	width:75%;
	}
	
	nav li {
	float:left;
	padding:8px;
	}
	
nav#main-nav li a {
	font-family:Georgia;
	font-size: 25px;
	font-weight:bold;
	color:black;
	text-decoration: none;
	height:30px;
	}
	
	section {
	top:60px;
	position:relative;
	margin:10px;
	font-family: Georgia;
	width:960px;
	height:550px;
	display:block;
	}
	
	article {
	float:left;
	width:450px;
	padding-left:20px;
	}
	
	h2 {
	font-size:24px;
	font-weight:bold;
	margin-top:20px;
	margin-bottom:10px;
	}
	
	p {
	font-family:Georgia;
	font-size:15.5px;
	line-height:1.25em;
	margin-top:1em;
	width:460px;
	}

	footer {
	border-top:solid;
	border-width:4px;
	clear:both;
	font-size:16px;
	font-weight:normal;
	width:960px;
	padding-top:16px;
	}
	
	footer a {
	color:red;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	}
	
	.alignright {
	float:right;
	}
	
	
	
	